<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thegreatfoodapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thegreatfoodapp.MainPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thegreatfoodapp.DisplayFoodList"
            android:label="@string/title_activity_display_food_list"
            android:parentActivityName="com.thegreatfoodapp.MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thegreatfoodapp.MainPage" />
        </activity>
        <activity
            android:name="com.thegreatfoodapp.AndroidXMLParsingActivity"
            android:label="@string/title_activity_android_xmlparsing" >
        </activity>
    </application>

</manifest>